@media (max-width: 1200px) {

}

@media (max-width: 991px) {


}

@media (max-width: 991px) and (min-width: 768px) {
}

@media screen and (max-width: 768px) {
    body {
        background: url("img/bg.jpg") 60% 0 no-repeat;
        background-size: cover;
    }

    .bg {
        display: none;
    }

    .h1 {
        width: 80%;
        height: 0;
        padding-bottom: 28.643216080402%;
        left: inherit;
        top: inherit;
        position: inherit;
        margin: 2.48125rem auto 0;
    }

    .pro {
        width: 40%;
        left: inherit;
        top: inherit;
        margin: 0.78125rem auto 0;
        position: inherit;
        font-size: .4rem;
    }

    .pro li {
        width: 100%;
        line-height: 0;
        height: 0;
        padding-bottom: 14.68085106383%;
        padding-top: 14.68085106383%;
        background-size: cover;
        margin-bottom: 0.38125rem;

    }

    .bb {
        position: inherit;
        width: 4.6719rem;
        height: 3.0312rem;
        margin: 0 auto;
    }

    .bb1 {
        margin-bottom: 0.38125rem;
    }

    .mywin .win {
        width: 90%;
        height: 0;
        padding-bottom: 113.785714285714%;
        margin-left: -45%;
        margin-top: 0;
        transform: translateY(-50%);
    }

    .mywin .win .close {
        width: 0.572916666667rem;
        height: 0.572916666667rem;
        right: -0.208333333333rem;
        top: -0.208333333333rem;
    }

    .mywin .win h1 {
        font-size: 0.416666666667rem;
        padding: 0.546875rem 0;
    }

    .mywin .win h2 {
        font-size: 0.234375rem;
        padding: 0.338541666667rem 0;
    }

    .mywin .win .nr {
        font-size: clamp(12px, 0.208333333333rem, 0.208333333333rem);
        line-height: 0.390625rem;
        padding: 0 27px;
    }

    .mywin .btn1 {
        width: 1.822916666667rem;
        height: 0.625rem;
        font-size: clamp(12px, 0.208333333333rem, 0.208333333333rem);
    }

    .mywin .btn2 {
        width: 1.822916666667rem;
        height: 0.625rem;
        font-size: clamp(12px, 0.208333333333rem, 0.208333333333rem);
    }

    .mywin .btn3 {
        width: 2.252604166667rem;
        height: 0.625rem;
        font-size: clamp(12px, 0.208333333333rem, 0.208333333333rem);
    }

    .manybtn {
      margin: 2.0765625rem auto 0;
    }

}



