* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #fff;
}

body {
    color: #fff;
    height: 100vh;
    overflow: hidden;
    font-family: "Microsoft YaHei", 微软雅黑
}

.bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url("img/bg.jpg") center 0 no-repeat;
    background-size: cover;
    z-index: 0;
}

.h1 {
    width: 4.1458rem;
    height: 1.484375rem;
    left: 0.78125rem;
    top: 0.78125rem;
    background: url("img/bigh1.png");
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.pro {
    width: 1.224rem;
    position: absolute;
    left: 1.1979rem;
    top: 2.6042rem;
    z-index: 1;
    font-size: 0.09375rem;
}

.pro li {
    width: 0.9792rem;
    line-height: 0.2865rem;
    text-align: center;
    height: 0.2865rem;
    cursor: pointer;
    background: url("img/probt.png");
    background-size: cover;
    margin-bottom: 0.0521rem;
}

.pro li:hover {
    background: url("img/probthv.png");
    background-size: cover;
}

.bb {
    position: absolute;
    z-index: 1;
    width: 1.5573rem;
    height: 1.0104rem;
    cursor: pointer;
    display: flex;
}

.bb1 {
    background: url("img/bb1.png");
    background-size: cover;
    left: 3.4948rem;
    top: 2.515625rem
}

.bb2 {
    background: url("img/bb2.png");
    background-size: cover;
    left: 4.953125rem;
    top: 2.515625rem
}

.mywin {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    display: none;
}

.mywin .mark {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
}

.mywin .win {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 3;
    width: 560px;
    height: 708px;
    margin-left: -280px;
    margin-top: -354px;
    background: url("img/win.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mywin .win .close {
    display: flex;
    width: 44px;
    height: 44px;
    background: url("img/close.png");
    background-size: cover;
    cursor: pointer;
    right: -16px;
    top: -16px;
    position: absolute;
    transition: all .4s;
}
.mywin .win .close:hover{
    transform: rotate(180deg);
}
.mywin .win h1 {
    font-size: 32px;
    text-align: center;
    color: #8f77c9;
    line-height: 32px;
    padding: 42px 0;
    border-bottom: solid 1px #cbc9e5;
    width: calc(100% - 8px);
    margin: 0 auto;
}

.mywin .win h2 {
    font-size: 28px;
    text-align: center;
    color: #8f77c9;
    padding: 26px 0;

}

.mywin .win .nr {
    font-size: 16px;
    line-height: 30px;
    color: #000;
    padding: 0 27px;
}

.mywin .btn1 {
    width: 140px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("img/btn1.png");
    background-size: cover;
    font-size: 16px;
}

.mywin .btn2 {
    width: 140px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("img/btn2.png");
    background-size: cover;
    font-size: 16px;
}

.manybtn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*margin: 75px auto 0;*/
    margin:0 auto;
    width: 84%;
}
.manybtn a{
    margin-right: 15px;
    margin-bottom: 15px;
}
.mywin .btn3 {
    width: 173px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("img/btn3.png");
    background-size: cover;
    font-size: 16px;
}


.mlr {
    margin: 0 auto;
}
